<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Key</key>
		<string>apiUserName</string>
		<key>Secure</key>
		<false/>
		<key>Title</key>
		<string>APIユーザー名</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>Key</key>
		<string>apiPassword</string>
		<key>Password</key>
		<true/>
		<key>Secure</key>
		<false/>
		<key>Title</key>
		<string>APIパスワード</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>1</string>
		<key>FalseValue</key>
		<string></string>
		<key>Key</key>
		<string>ConohaMode</string>
		<key>Title</key>
		<string>ConoHa Mode</string>
		<key>TrueValue</key>
		<string>1</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>1</string>
		<key>FalseValue</key>
		<string></string>
		<key>Key</key>
		<string>VmControl</string>
		<key>Title</key>
		<string>VM操作を行う</string>
		<key>TrueValue</key>
		<string>1</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
</array>
</plist>
